<app-loading [isLoading]="isLoading">
  <main>
    <section class="pokemons-list">
      <div
        style="
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 1rem;
        "
        cdkDropList
        [cdkDropListData]="cards"
        [cdkDropListConnectedTo]="choosenCardsList"
        #cardsList="cdkDropList"
      >
        <ng-container *ngFor="let card of cards">
          <div cdkDrag>
            <img [src]="card.images.small" [alt]="card.name" width="200" />
          </div>
        </ng-container>
      </div>
    </section>

    <aside class="update-deck">
      <h4>Update Deck</h4>
      
      <div class="update-deck__input">
        <app-search (searchEvent)="search($event)"></app-search> 
      </div>
      
      <form [formGroup]="form">
        <div class="update-deck__header">
          <div class="update-deck__input">
            <igx-input-group>
              <input
                igxInput
                type="text"
                formControlName="name"
                placeholder="insert name"
              />
            </igx-input-group>
          </div>
        </div>

        <div class="update-deck__cards-amount">
          <igx-chip [removeIcon]="mycardIcon" [removable]="true">
            0 - 60
          </igx-chip>

          <button
            igxRipple
            igxButton="outlined"
            igxButtonColor="black"
            igxButtonBackground="#48cae4"
            (click)="updateDeck()"
          >
            Update
          </button>
        </div>

        <igx-tabs tabAlignment="justify">
          <igx-tab-item>
            <igx-tab-header>
              <span igxTabHeaderLabel>Pokémon</span>
            </igx-tab-header>
            <igx-tab-content>
              <div class="update-deck__drop-area">
                <div
                  class="update-deck__choosen-cards"
                  cdkDropList
                  [cdkDropListData]="supertypePokemon"
                  #choosenCardsList="cdkDropList"
                  (cdkDropListDropped)="drop($event)"
                >
                  @for (item of supertypePokemon; track item.card.name) {
                  <div class="update-deck__choosen-card">
                    <img
                      [src]="item.card.images.small"
                      [alt]="item.card.name"
                      width="200"
                    />
                    <div class="update-deck__footer">
                      <div class="update-deck__amount">
                        <strong>
                          {{ item.amount }}
                        </strong>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>
            </igx-tab-content>
          </igx-tab-item>

          <igx-tab-item>
            <igx-tab-header>
              <span igxTabHeaderLabel>Trainers</span>
            </igx-tab-header>
            <igx-tab-content>
              <div class="update-deck__drop-area">
                <div
                  class="update-deck__choosen-cards"
                  cdkDropList
                  [cdkDropListData]="supertypeTrainer"
                  #choosenCardsList="cdkDropList"
                  (cdkDropListDropped)="drop($event)"
                >
                  @for (item of supertypeTrainer; track item.card.name) {
                  <div class="update-deck__choosen-card">
                    <img
                      [src]="item.card.images.small"
                      [alt]="item.card.name"
                      width="200"
                    />
                    <div class="update-deck__footer">
                      <div class="update-deck__amount">
                        <strong>
                          {{ item.amount }}
                        </strong>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>
            </igx-tab-content>
          </igx-tab-item>

          <igx-tab-item>
            <igx-tab-header>
              <span igxTabHeaderLabel>Energy</span>
            </igx-tab-header>
            <igx-tab-content>
              <div class="update-deck__drop-area">
                <div
                  class="update-deck__choosen-cards"
                  cdkDropList
                  [cdkDropListData]="supertypeEnergy"
                  #choosenCardsList="cdkDropList"
                  (cdkDropListDropped)="drop($event)"
                >
                  @for (item of supertypeEnergy; track item.card.name) {
                  <div class="update-deck__choosen-card">
                    <img
                      [src]="item.card.images.small"
                      [alt]="item.card.name"
                      width="200"
                    />
                    <div class="update-deck__footer">
                      <div class="update-deck__amount">
                        <strong>
                          {{ item.amount }}
                        </strong>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>
            </igx-tab-content>
          </igx-tab-item>
        </igx-tabs>
      </form>
    </aside>
  </main>
</app-loading>

<!-- por as mensagens de validacoes nas cartas -->
<igx-toast #toast></igx-toast>

<!-- template para por o icone no igx-chip -->
<ng-template #mycardIcon>
  <igx-icon>styles</igx-icon>
</ng-template>

<!-- TODO : exibir mensagem caso nao encontre um pokemon -->
<ng-template #emptyTemplate>
  <app-error-message-content
    [name]="(pokemonNotFound$ | async)!"
  ></app-error-message-content>
</ng-template>

<ng-template #emptyCards>
  <div>
    <span>There are no cards.</span>
  </div>
</ng-template>
