<app-loading [isLoading]="false">
  <main>
  <section class="pokemons-list">
    <div
      style="display: flex; justify-content: center; flex-wrap: wrap; gap: 1rem"
      cdkDropList
      [cdkDropListData]="cards$"
      [cdkDropListConnectedTo]="choosenCardsList"
      #cardsList="cdkDropList"
    >
      <ng-container *ngFor="let card of cards$">
        <div cdkDrag>
          <img [src]="card.images.small" [alt]="card.name" width="200" />
        </div>
      </ng-container>
    </div>
  </section>

  <aside class="create-deck" style="width: 34%">
    <form [formGroup]="form">
      <div class="create-deck__header">
        <h3>Create a deck</h3>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 2.2rem;
          "
        >
          <igx-input-group>
            <input
              igxInput
              type="text"
              formControlName="name"
              placeholder="insert name"
            />
          </igx-input-group>

          <app-search (searchEvent)="search($event)"></app-search>
        </div>
      </div>

      <div class="create-deck__cards-amount">
        <igx-chip [removeIcon]="mycardIcon" [removable]="true">
          <span *ngIf="!totalCards" [ngClass]="0 < 24 ? 'red' : 'green'">
            0
          </span>

          <span [ngClass]="totalCards < 24 ? 'red' : 'green'">
            {{ totalCards }}
          </span>

          <span [ngClass]="60 < 24 ? 'red' : 'green'"> - 60 </span>
        </igx-chip>

        <button
          igxRipple
          igxButton="outlined"
          igxButtonColor="black"
          igxButtonBackground="#48cae4"
          (click)="createDeck()"
        >
          Save
        </button>
      </div>

      <div class="create-deck__drop-area">
        <div
          class="create-deck__choosen-cards"
          cdkDropList
          [cdkDropListData]="choosenCards"
          #choosenCardsList="cdkDropList"
          (cdkDropListDropped)="drop($event)"
        >
          @for (item of choosenCards; track item.card.name) {
          <div class="create-deck__choosen-card">
            <img
              [src]="item.card.images.small"
              [alt]="item.card.name"
              width="200"
            />
            <div class="create-deck__footer">
              <div class="create-deck__amount">
                <strong>
                  {{ item.amount }}
                </strong>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </form>
  </aside>
  </main>
</app-loading>

<!-- por as mensagens de validacoes nas cartas -->
<igx-toast #toast></igx-toast>

<!-- template para por o icone no igx-chip -->
<ng-template #mycardIcon>
  <igx-icon>styles</igx-icon>
</ng-template>

<!-- TODO : exibir mensagem caso nao encontre um pokemon -->
<ng-template #emptyTemplate>
  <app-error-message-content
    [name]="(pokemonNotFound$ | async)!"
  ></app-error-message-content>
</ng-template>