@use "igniteui-angular/theming" as *;

$custom-navbar-theme: navbar-theme(
  $text-color: #151515,
  $background: radial-gradient(ellipse at 0% 0%, rgba(0, 147, 255, 1) 0%, rgba(129, 225, 237, 1) 50%, rgba(91, 130, 230, 1) 100%),
  $idle-icon-color: #151515,
  $hover-icon-color: #8c8c8c
  );

@include css-vars($custom-navbar-theme);

.outer-wrapper {
  height: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  overflow: auto;

  > *:not(router-outlet) {
    padding: 0 24px;
  }

  p {
    margin: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    justify-content: flex-start;

    > *:not(router-outlet) {
      padding: 0 15px;
    }
  }
}
